<!DOCTYPE html>
<html>
<head>
	<title>SHOW</title>
</head>
<body>
	<h1>Exibindo Restaurante</h1>
	
	<p>
		<b>Nome: </b>
		<%= @restaurante.nome %>
	</p>
	
	<p>
		<b>Endereço: </b>
		<%= @restaurante.endereco %>
	</p>
	
	<p>
		<b>Especialidade: </b>
		<%= @restaurante.especialidade %>
	</p>

	<br\>
	<p>
		<%= link_to "Editar", action: 'edit', id: @restaurante %>	
	</p>
	<br\>
	<p>
		<%= link_to "Voltar", action: "index" %>
	</p>
</body>
</html>